* {
  margin: 0;
}
.flex-box {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.price-content {
  background-color: #696969;
  min-width: 50vw;
  max-width: 50vw;
}
.product-text {
  background-color: #8B0000;
}
.price-text {
  background-color: #191970;
}
.flex-box-content {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.pay-product {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.price-table {
  background-color: #C0C0C0;
  display: flex;
  justify-content: space-around;
}
